:root {
    --background: #fff;
    --text: #333;
    --text-secondary: #333;
    --highlight: #007bff;
    --border: #dee2e6;
    --transition: 250ms;
    @media (prefers-color-scheme: dark) {
        --background: #292929;
        --text: #f8ffef;
        --text-secondary: #646464;
        --highlight: #ffbc00;
        --border: #3d3d3d;
    }
}

ul {
    list-style: none;
    li {
        position: relative;
        &::before {
            position: absolute;
            left: -1.5rem;
            content: '▹';
            color: var(--highlight);
        }
        p {
            margin-bottom: 0.5rem !important
        }
    }
}