.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

.page-enter {
    transform: translateY(-5%);
}

.page-leave-active {
    transform: translateY(5%);
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.fade-enter {
    transform: translateY(-5%);
}

.fade-leave-active {
    transform: translateY(5%);
}


/*  */
.list-enter-active,
.list-leave-active {
    transition: all var(--transition) ease-in-out;
}

.list-enter,
.list-leave-active {
    opacity: 0;
}

.list-enter {
    transform: translateY(-5%);
}

.list-leave-active {
    transform: translateY(5%);
}