a {
    text-decoration: none !important;
    color: var(--highlight);
    font-weight: 500;
    cursor: pointer;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
}

.text-secondary {
    color: var(--text-secondary) !important;
}