.page-enter-active, .page-leave-active {
    transition: all 0.5s;
  }
  .page-enter, .page-leave-active {
    opacity: 0;
  }
  .page-enter{
    transform: translateY(-5%);
  }
.page-leave-active {
    transform: translateY(5%);
  }

  